body{
    background-color: #FFDE00;
    font-family: 'Press Start 2P', cursive;
    background-image: url("https://wallpapercave.com/wp/wp3354529.png");
    background-size: cover;
    background-position: center;
}
.bg-red{
    background-color: #FF0000;
}